@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: 'Roboto', sans-serif;
    background: #E5E5E5;
    font-size: 1.3rem;
}

.hero {
    margin:0;
    padding: 4em 0;
    background-color: #23424A;
}

.container {
    margin: 0 auto;
    color: white;
    padding:0;
    width: 80%;
    max-width: 1200px;
}

.hero__text {
    width: 100%;
}

@media (min-width: 40rem) {
    .hero__text {
        width: 60%;
    }
}

.hero__title {
    font-weight: 900;
    font-size: 3rem;
    margin:0;
}

.hero__paragraph {
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.5em;
}

.hero__button {
    background-color: #38CFD9;
    display: inline-block;
    padding: 0.8em 2.2em;
    margin-top: 1em;
    border-radius: 1.25em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.3125rem;
    color: #23424A;
} 
