@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --light-color: #F3EED9;
    --mid-color: #824936;
    --dark-color: #222C2A;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

img {
    max-width: 100%;
}

.hero {
    background-color: var(--light-color);
}

.hero p {
    color: var(--dark-color);
    text-transform: uppercase;
    font-size: 1.125rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 0.25em;
}

.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.75rem;
    font-weight: 900;
    line-height: 1.1;
    color: var(--mid-color);
}

.container {
    max-width: 1128px;
    margin: 0 auto;
}

.container--hero {
    text-align: center;
    min-height: 660px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

@media (min-width: 62rem) {

    .container--hero {
        width: 40%;
    }
}

.row {
    background-color: white;
    color: var(--dark-color);
    padding: 5.25em 1rem;
}

.row h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2.25rem;
    margin-bottom: 2rem;
    color: var(--mid-color);
    text-align: center;
}

.row p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.3125rem;
    margin-bottom: 1rem;
    line-height: 1.75rem;
}

.row--dark {
    background-color: var(--dark-color);
    color: var(--light-color); 
}

.row--dark h2 {
    color: var(--light-color);
    text-align: left;
}

.row--mid {
    background-color: var(--mid-color);
    color: var(--light-color); 
}

.row--mid h2 {
    color: var(--light-color);
    text-align: left;
}

.col-2 {
    display: flex;
    justify-content: space-between;
}

.col-1 {
    width: 47%;
}